{% extends "base.html" %}
{% load layout %}

{% block endscripts %}{% javascripts "agentfactures.js" %}{% endblock %}

{% block onready %}
    agentfactures.attach('#agentfactures', 'all', {}); agentfactures.display();
{% endblock %}

{% block content %}

<h4><div class="btn-group"><a href="javascript:agentfactures.modal('#modal', { 'title' : 'Nouveau facture' });"><button class="btn btn-default btn-sm" type="button" align="right"><i class="fa fa-plus"></i> Nouveau</button></a></div></h4>
{% panel "agentfactures" %}

{% endblock %}