/* Misc that doesn't have their own CSS page yet */

.card {
	width: 100%;
	margin: 10px 6px 12px 6px;
	padding: 12px;
	font: normal 13px/18px Arial, sans-serif;
	color: #000;
	background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	z-index: 2;

}

.cardfull {
	width: 100%;
	margin: 10px 6px 12px 6px;
	padding: 12px;
	font: normal 13px/18px Arial, sans-serif;
	color: #000;
	background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	z-index: 2;

}

.trash {
  color: #fff;
  background: #e05353;
}

/* Chat */

.newmsg {
	color: #f00;
}

/* Forms */
.modal-content {
	padding-left: 12px;
	padding-right: 12px;
}

.modal-content textarea {
	height: 100px;
}

.modalerrors {
	text-align: center;
	color: #f00;
	font-weight: bold;
}